.build/
.history/
.idea/
tests/Browser/Screenshots/
vendor/

vendor-bin/projects/
/vendor-bin/*/*
!/vendor-bin/*/composer.json

.DS_Store
.env
.php-cs-fixer.php
/*.zip
/laravel
/tests.*
cghooks.lock
composer.lock
phpbench.json
phpstan.neon
phpunit.xml
